<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.magellium.rental.ui.category1"
            name="Rental">
      </category>
      <view
            category="com.magellium.rental.ui.category1"
            class="com.magellium.rental.ui.views.RentalPropertyView"
            icon="icons/Rentals.png"
            id="com.magellium.rental.ui.viewrental"
            name="Rental"
            restorable="true">
      </view>
      <view
            category="com.magellium.rental.ui.category1"
            class="com.magellium.rental.ui.RentalAgencyPropertyView"
            icon="icons/Agency.png"
            id="com.magellium.rental.ui.view1"
            name="RentalAgencyView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="RentalPerspective"
            id="RentalPerspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.magellium.rental.ui.RentalPreferencePage"
            id="com.magellium.rental.ui.RentalPreferencePage"
            name="Rental">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.magellium.rental.ui.RentalPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
